@page
@model BookwormsMembership.Pages.errors._403Model
@{
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px; ">Server refused to execute request</p>
   
</div>
