@page
@model BookwormsMembership.Pages.errors._405Model
@{
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">405</h1>
    <p style="font-size: 50px; ">Method Not Allowed</p>
    <p>Method used was not allowed</p>

</div>