@page
@model BookwormsMembership.Pages.errors._406Model
@{
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">406</h1>
    <p style="font-size: 50px; ">Not Acceptable<p>
    <p>Data is not acceptable</p>

</div>