@page
@model BookwormsMembership.Pages.errors._407Model
@{
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">407</h1>
    <p style="font-size: 50px; ">Proxy Authentication Required<p>
    

</div>