@page
@model BookwormsMembership.Pages.errors._413Model
@{
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">413</h1>
    <p style="font-size: 50px; ">Request Entity Too Large<p>
    <p>Web request is too large</p>

</div>