@page
@model BookwormsMembership.Pages.errors._414Model
@{
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">414</h1>
    <p style="font-size: 50px; ">Request URI Too Long<p>
    <p>Web request is over the server's limit</p>

</div>