@page
@model BookwormsMembership.Pages.errors._415Model
@{
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">415</h1>
    <p style="font-size: 50px; ">Unsupported Media Type<p>
    <p>
        requested media type doesn't match media type specified in request, or
        because of incapability to handle current data for the resource, or it is not compatible with requested
        Http method
    </p>

</div>