@page
@model BookwormsMembership.Pages.errors._500Model
@{
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">500</h1>
    <p style="font-size: 50px; ">Internal Server Error<p>
    <p>
        More details
        about error could be logged to EventLog, database or plain text files
    </p>

</div>