@page
@model BookwormsMembership.Pages.errors._504Model
@{
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">504</h1>
    <p style="font-size: 50px; ">Gateway Timeout<p>
    <p>
        upstream web server takes too long to respon
    </p>

</div>