@page
@model BookwormsMembership.Pages.ChangePasswordModel
@{

	bool isSuccess;
	if (ViewData["isSuccess"] != null)
	{
		isSuccess = (bool)ViewData["isSuccess"]; //trycatch
	}
	else
	{
		isSuccess = false;
	}//try catch
}
<div class="container mt-5" >

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Change Password </h1>
			@if (isSuccess == true)
			{
				<div class="alert alert-success" role="alert">
					Password has been changed succesfully
				</div>
			}
		 	
			<form method="post" asp-antiforgery="true">
				<div asp-validation-summary="All" class="text-danger">  </div>


				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.CurrentPassword">Current Password</label>
					<input type="password" asp-for="CPModel.CurrentPassword" class="form-control" required />
					<span asp-validaton-for="CPModel.CurrentPassword" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.NewPassword">New Password</label>
					<input type="password" asp-for="CPModel.NewPassword" class="form-control" required />
					<span asp-validaton-for="CPModel.NewPassword" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="CPModel.ConfirmNewPassword">Confirm New Password</label>
					<input type="password" asp-for="CPModel.ConfirmNewPassword" class="form-control" required />
					<span asp-validaton-for="CPModel.ConfirmNewPassword" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Change Password</button>
				</div>
				
			</form>
		</div>
	</div>
</div>