@page
@model BookwormsMembership.Pages.ForgotPasswordModel
@{
	bool isSent;
	if (ViewData["isSent"] != null)
	{
		isSent = (bool)ViewData["isSent"]; //trycatch
	}
	else
	{
		isSent = false;
	}

}
<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Forgot Password </h1>
			  @if (isSent == true)
			{
				<div class="alert alert-success" role="alert">
					If you have registered with us, we have sent an email to your registered email
				</div>
			} 

			<form method="post" asp-antiforgery="true">
				<div asp-validation-summary="All" class="text-danger">  </div>


				 <div class="mb-3">
					<label class="form-label" asp-for="FPModel.Email">Enter your email:</label>
					<input type="email" asp-for="FPModel.Email" class="form-control" required />
					<span asp-validaton-for="FPModel.Email" class="text-danger"></span>
				</div> 



				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>

			</form>
			<p><a  asp-page="/Register">Here</a> to signup </P>
		</div>
	</div>
</div>