@page
@model BookwormsMembership.Pages.OTPModel
@{
	bool isSuccess;
	if (ViewData["isSuccess"] != null)
	{
		isSuccess = (bool)ViewData["isSuccess"]; //trycatch
	}
	else
	{
		isSuccess = false;
	}
}
<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Two Factor Authentication</h1>
			@if (isSuccess == true)
			{
				<div class="alert alert-success" role="alert">
					You have been succesfuly authenticated
				</div>
			}
			else
			{
				<div class="alert alert-success" role="alert">
					We have sent an OTP to your email! <br> Please enter the code below
				</div>
				<form method="post" asp-antiforgery="true">
				<div asp-validation-summary="All" class="text-danger">  </div>
				<input type="hidden" asp-for="TFAModel.UserId" />

				 <div class="mb-3">
					<label class="form-label" asp-for="TFAModel.Code">Enter the code:</label>
					<input type="text" maxlength="6"  min asp-for="TFAModel.Code" class="form-control" required />
					<span asp-validaton-for="TFAModel.Code" class="text-danger"></span>
				</div> 



				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Change Password</button>
				</div>

			</form>
			<p><a  asp-page="/Login">Here</a> to login </P>
			}

			
		</div>
	</div>
</div>